# Import packages
import("waveslim")
import("pracma")
import("grDevices")

# Export Fucntions
export("iaaft", "iaawt", "mfdfa", "significance", "localH", "mfsim", "ffGn")

# Methods
S3method("plot", "multifractal")
S3method("print", "multifractal")
S3method("plot", "localH")

