# Import packages
import("waveslim")
import("pracma")

# Export Fucntions
export("iaaft", "iaawt", "mfdfa", "significance", "localH")

# Methods
S3method("plot", "multifractal")
S3method("print", "multifractal")
S3method("plot", "localH")

